{% extends "cms/base.html" %}

{% block title %}カードの一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">カード一覧</h4>

    <div class="d-flex flex-wrap">

      {% for card in object_list %}
      <div class="my-3 mx-2 border rounded-lg w-25 h-100">
        <a href="{% url 'cms:card_detail' card_id=card.id %}" class="text-dark text-decoration-none ">
          <div class="text-center text-dark py-3 border border-secondary rounded-lg btn btn-outline-light">
            <p class="font-weight-bold lead">{{ card.title }}</p>
            <p>{{ card.subtitle }}</p>
            <div class="mx-auto px-3 h-25">
              <img class="rounded w-100" src={{card.tecimg.url}}>
            </div>
            <p>{{ card.tec_desc }}</p>
          </div>
        </a>
        {% csrf_token %}
        <div class="text-center my-3">
          <p>{{ card.tag_list }}</p>
          <a href="{% url 'cms:card_mod' card_id=card.id %}" class="btn btn-outline-primary btn-sm">修正</a>
          <a href="{% url 'cms:card_del' card_id=card.id %}" class="btn btn-outline-danger btn-sm">削除</a>
        </div>
      </div>
      {% endfor %}

      <div>
        <div class="justify-content-center my-auto mx-auto">
          <a href="{% url 'cms:card_add' %}" class="btn btn-primary btn-sm my-3">追加</a>
        </div>
      </div>
      
    </div>
{% endblock content %}