{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block extra_scss %}
<link rel="stylesheet" href="{% sass_src 'cms/scss/card.scss' %}">
{% endblock extra_scss %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">選択したカードの確認</h4>
    <p>選択したカードはこれらでいいですか？</p>

    <div class="d-flex flex-wrap">
      {% for card in cards%}
      {% csrf_token %}
      <label class="my-3 mx-2 w-25 h-auto">
        <div class="card-box h-100">
          <div class="card text-center text-dark py-3 border border-secondary rounded-lg p-3">
            <p>{{ card.title }}</p>
            <p>{{ card.subtitle }}</p>
            <div class="mx-auto px-3">
              <img class="rounded w-100" src={{card.tecimg.url}}>
            </div>
            <p>{{ card.tec_desc }}</p>
          </div>
        </div>
      </label>
      {% endfor %}
    </div>
    {% csrf_token %}

    <div class="form-group row">
      <a href="{% url 'cms:card_choice' %}" class="d-flex align-items-center my-auto mx-2 btn btn-outline-primary btn-sm">選び直す</a>
      <a href="{% url 'cms:card_print' %}" class="d-flex align-items-center my-auto mx-2 btn btn-outline-primary btn-sm">pdf出力</a>
      <a href="{% url 'cms:card_spred' %}" class="d-flex align-items-center my-auto mx-2 btn btn-outline-primary btn-sm">スプレッドシートの取得</a>
      <a href="{% url 'cms:card_list' %}" class="d-flex align-items-center my-auto mx-2 btn btn-outline-primary btn-sm">カード一覧に戻る</a>
    </div>

{% endblock content %}