{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cms/css/card.css' %}">
{% endblock extra_css %}

{% block title %}カードの詳細{% endblock title %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">カードの詳細</h4>
    <div class="main d-flex">
      <div class="left-content center-block w-50 mx-auto">
        <div class="active front card text-center py-2 px-3 my-3 border-dark bg-light rounded">
          <p>{{ card.title }}</p>
          <p>{{ card.subtitle }}</p>
          <div class="mx-auto">
            <img class="rounded w-100" src={{card.tecimg.url}} height="150">
          </div>
          <p>{{ card.tec_desc|linebreaks}}</p>
        </div>
        <div class="back card text-center py-2 px-3 my-3 border border-dark bg-light rounded" id="back">
          <p>{{ card.desc1 }}</p>
          <p>{{ card.desc2 }}</p>
          <p>{{ card.desc3 }}</p>
        </div>
      </div>

      <div class="right-content w-50">
        <div class="text-center py-2 px-3 my-3 mx-auto ">
          <p>{{ card.title }}</p> 
          <p>{{ card.subtitle }}</p>
          <p>{{ card.tecimg.url }}</p>
          <p>{{ card.tec_desc|linebreaks}}</p>
        </div>
        <div class="text-center py-2 px-3 my-3 mx-auto">
          <p>{{ card.desc1 }}</p>
          <p>{{ card.desc2 }}</p>
          <p>{{ card.desc3 }}</p>
        </div>
      </div>
    </div>

    <div class="botton">
      {% csrf_token %}
      <a href="{% url 'cms:card_update' card.pk %}" class="btn btn-outline-primary btn-sm">編集</a>
      <a href="{% url 'cms:card_del' card.pk %}" class="btn btn-outline-danger btn-sm">削除</a>
    </div>

    <section class="my-5">
      <h4 class="mb-4 border-bottom">フィードバック一覧</h2>
      <p>ここにコメントやフィードバック、WSの様子などを投稿するレビュー欄みたいなの入れるとこ</p>
      <p>Amazonのレビューみたいな感じで</p>
    </section>

    <div class="mb-3"><a href="{% url 'cms:card_list' %}" class="btn btn-secondary btn-sm">戻る</a></div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'cms/js/card.js' %}"></script>
{% endblock extra_js%}
