{% extends "cms/base.html" %}

{% block title %}カードの一覧{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">カード一覧</h4>
    <div class="d-flex flex-wrap">


      {% for card in cards %}
        <a href="{% url 'cms:card_detail' card_id=card.id %}" class="text-dark">  <!-- idを取得するとこまではできてる -->
          <div class="text-center py-2 px-3 my-3 mx-3 border bg-light rounded">
            <p>{{ card.title }}</p>
            <p>{{ card.subtitle }}</p>
            <img class="rounded" src={{card.tecimg.url}} max-width="200" height="150">
            <p>{{ card.desc1 }}</p>
            <p>{{ card.desc2 }}</p>
            <p>{{ card.desc3 }}</p>
            {% csrf_token %}
            <a href="{% url 'cms:card_mod' card_id=card.id %}" class="btn btn-outline-primary btn-sm">修正</a>
            <a href="{% url 'cms:card_del' card_id=card.id %}" class="btn btn-outline-danger btn-sm">削除</a>
        </div></a>
      {% endfor %}


      <div>
        <div class="justify-content-center my-auto mx-auto">
          <a href="{% url 'cms:card_add' %}" class="btn btn-primary btn-sm my-3">追加</a>
        </div>
      </div>
    </div>
{% endblock content %}