{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block extra_scss %}
<link rel="stylesheet" href="{% sass_src 'cms/scss/card.scss' %}">
{% endblock extra_scss %}

{% block extra_js %}
<script src="{% static 'cms/js/card.js' %}"></script>
{% endblock extra_js%}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">カードの編集</h4>
    <div class="d-flex flex-wrap">
      <div class="d-flex flex-wrap w-50 center-block">
        <div class="active front bg-danger text-center py-2 px-3 my-3 border border-dark bg-light rounded">
          <h4 id="title_value_box">{{ card.title }}</h4>
          <p id="subtitle_value_box">{{ card.subtitle }}</p>
          <div class="cardimg mx-auto px-3">
            <img id="imgpreview" class="rounded h-100" src={{card.tecimg.url}}>
          </div>
          <div id="tecdesc_value_box" class="align-items-end">{{ card.tec_desc|linebreaks}}</div>
        </div>
        <div class="back bg-danger text-center py-2 px-3 my-3 border border-dark bg-light rounded">
          <div id="desc1_value_box" class="sdesc">{{ card.desc1 }}</div>
          <div id="desc2_value_box" class="sdesc">{{ card.desc2 }}</div>
          <div id="desc3_value_box" class="sdesc">{{ card.desc3 }}</div>
        </div>
      </div>

      <div class="w-50">
        <form method="POST" class="post-form" enctype="multipart/form-data" action="{% url 'cms:card_update' card.pk %}">
        <!-- フォームの表示 -->
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-group row">
          <div class="offset-md-3 col-md-9">
            <button type="submit" class="btn btn-primary">保存する</button>
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'cms:card_detail' card.pk %}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}