{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block extra_scss %}
<link rel="stylesheet" href="{% sass_src 'cms/scss/choice.scss' %}">
{% endblock extra_scss %}

{% block content %}
    <h4 class="mt-4 mb-5 border-bottom">カードの選択</h4>
    <div class="d-flex flex-wrap">
      <form method="post">
      {% for card in cards%}
      {% csrf_token %}
      <label class="my-3 mx-2 w-25 h-auto">
        <div class="card-box h-100">
          <input type="checkbox" name="choice" value="{{card.id}}" class="radio-input">
           <div class="card text-center text-dark py-3 border border-secondary rounded-lg p-3">
            <p class="font-weight-bold lead">{{ card.title }}</p>
            <p>{{ card.subtitle }}</p>
            <div class="mx-auto px-3">
              <img class="rounded w-100" src={{card.tecimg.url}}>
            </div>
            <p>{{ card.tec_desc|linebreaks}}</p>
          </div>
        </div>
      </label>
      {% endfor %}

      {% csrf_token %}

        <div class="form-group row">
          <div class="offset-md-3 col-md-9">
            <button type="submit" class="btn btn-primary">選択する</button>
          </div>
        </div>
      </form>
    </div>

{% endblock content %}