{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cms/css/choice.css' %}">
{% endblock extra_css %}

{% block title %}カードの選択した後{% endblock title %}

{% block content %}
    <p>選択したカードはこれらでいいですか？</p>

    <div class="d-flex flex-wrap">
            {% for card in object_list%}
      <label class="my-3 mx-2 w-25 h-auto">
        <div class="card-box h-100">
          <div class="text-center text-dark py-3 border border-secondary rounded-lg p-3">
            <p>{{ card.title }}</p>
            <p>{{ card.subtitle }}</p>
            <div class="mx-auto px-3 h-25">
              <img class="rounded w-100" src={{card.tecimg.url}}>
            </div>
            <p>{{ card.tec_desc }}</p>
          </div>
        </div>
      </label>
      {% endfor %}

      {% csrf_token %}

<!--         <div class="form-group row">
          <div class="offset-md-3 col-md-9">
            <button type="submit" class="btn btn-primary">送信</button>
          </div>
        </div> -->

        <a href="{% url 'cms:card_print' %}" class="d-flex align-items-center my-auto mx-2 btn btn-outline-primary btn-sm">pdfを表示</a>
      </form>
    </div>


{% endblock content %}