{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load sass_tags %}

{% block extra_scss %}
{% endblock extra_scss %}

{% block extra_js %}
{% endblock extra_js%}

{% block content %}
<h4 class="mt-4 border-bottom">ワークシート一覧</h4>

    <div class="d-flex flex-wrap">

      {% for Wseat in object_list%}
      <div class="my-3 mx-2 border rounded-lg w-25 h-100">
          <div class="text-center text-dark py-3 border border-secondary rounded-lg btn btn-outline-light">
            <p>{{ Wseat.title }}</p>
            <!-- ここに画像を挿入 -->
            <p>{{ Wseat.desc }}</p>
          </div>
        {% csrf_token %}
        <div class="text-center my-3">
          <p>{{ card.tag_list }}</p>
          <a href="" class="btn btn-outline-primary btn-sm">ワークをする</a>
          <a href="" class="btn btn-outline-danger btn-sm">修正</a>
        </div>

      </div>
      {% endfor %}

      <!-- 追加ボタンの条件分けをしなくてはいけない WSのページだとワークシート追加に行く-->

{% endblock content %}