{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block title %}ワークシートの一覧{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom">ワークシート一覧</h4>

    <div class="d-flex flex-wrap">

      {% for Wseat in Wseat%}
      <div class="my-3 mx-2 border rounded-lg w-25 h-100">
          <div class="text-center text-dark py-3 border border-secondary rounded-lg btn btn-outline-light">
            <p>{{ Wseat.title }}</p>
            <!-- ここに画像を挿入 -->
            <p>{{ Wseat.desc }}</p>
          </div>
        {% csrf_token %}
        <div class="text-center my-3">
          <p>{{ card.tag_list }}</p>
          <a href="" class="btn btn-outline-primary btn-sm">ワークをする</a>
          <a href="" class="btn btn-outline-danger btn-sm">修正</a>
        </div>

      </div>
      {% endfor %}

      <div>
        <div class="justify-content-center my-auto mx-auto">
          <a href="" class="btn btn-primary btn-sm my-3">追加</a>
        </div>
      </div>


{% endblock content %}



{% block extra_js %}

{% endblock extra_js%}